.answer {
    display: flex;
    height: 100px;
    margin: 10px;
    width: 80%;
    min-width: 500px;
    cursor: pointer;
    perspective: 1000px;
}

.content {
    display: flex;
    flex: 1;
    position: relative;
    transition: transform 0.8s;
    transform-style: preserve-3d;    
}

.content.revealed {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.back > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-radius: 12px;
}

.back {
    transform: rotateY(180deg);
}

.correct {
    background-color: rgba(0, 255, 0, 0.5);
}

.wrong {
    background-color: rgba(255, 0, 0, 0.5);
}

.correct .value, .wrong .value {
    font-size: 1.8rem;
}

.front {
    color: #000;
    align-items: center;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 12px;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 1.3rem;
    font-weight: 700;
    margin-right: 20px;
}

.value {
    font-size: 1.3rem;
    font-weight: 700;
}