.result {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    font-size: 2rem;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}